{% extends 'core/base.html' %}

{% block title %}About{% endblock %}

{% block meta %}
<meta name = "description" content="RangVida is the best online store for bridal dresses at affordable prices">
<meta name = "author" content="RangVida">
<meta property = "og:title" content = "RangVida | About">
<meta property = "og:description" content="RangVida is the best online store for bridal dresses at affordable prices">
<meta property = "og:type" content="article">
<meta property = "og:url" content = "http://Rangvida.com/About/">
{% endblock %}


{% endblock %}

{% block content %}
 <h1>About</h1>
{% endblock %}